*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/file.template.settings.xml
/.idea/gradle.xml
.DS_Store
/build
/captures
.externalNativeBuild
/app/build
/app/bulid.gradle
/ck-lib/build
/ck-lib/bulid.gradle
/setting.gradle
/local.properties
/build.gradle
/gradle.properties
/gradle/wrapper/gradle-wrapper.properties