<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yijiehl.club.android">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".BmApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:replace="name,icon"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".ui.activity.SplashActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 登录页面 -->
        <activity android:name=".ui.activity.user.LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 主页面 -->
        <activity android:name=".ui.activity.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <!-- 完善信息页面 -->
        <activity android:name=".ui.activity.user.SupplementInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

<!-- 测试页面 -->
        <activity android:name=".ui.activity.TestActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>

<!-- 友盟配置 -->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:theme="@style/Theme.UMDefault"
            android:excludeFromRecents="true"/>
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57d13359e0f55a9a87001b45" />

        <!-- 我的页面 -->
        <activity android:name=".ui.activity.user.MineActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>

        <!-- 个人信息页面 -->
        <activity android:name=".ui.activity.user.PersonalInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>

        <!-- 成长文章详细页面 -->
        <activity android:name=".ui.activity.ArticalDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <!-- 昵称修改页面 -->
        <activity android:name=".ui.activity.user.NickChangeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <!-- 手机号修改页面 -->
        <activity android:name=".ui.activity.photo.PhoneNumChangeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <!-- 地址修改页面 -->
        <activity android:name=".ui.activity.user.AddressChangeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <!-- 性别修改页面 -->
        <activity android:name=".ui.activity.user.SexChangeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <!-- 添加亲友页面 -->
        <activity android:name=".ui.activity.user.AddRelativesAccount"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <!-- 相册页面 -->
        <activity android:name=".ui.activity.photo.PhotoPickerActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <!-- 照片详情页面 -->
        <activity android:name=".ui.activity.photo.ImageViewerActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <!-- 健康详情页面 -->
        <activity android:name=".ui.activity.health.HealthInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <!-- 活动列表 -->
        <activity android:name=".ui.activity.ActivitysActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <!-- 问题页面 -->
        <activity android:name=".ui.activity.question.QuestionListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <!-- 知识页面 -->
        <activity android:name=".ui.activity.question.KnowledgeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <!-- 知识列表页面 -->
        <activity android:name=".ui.activity.question.KnowledgeListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <!-- 成长加油站页面 -->
        <activity android:name=".ui.activity.growup.GrowUpGasStationAvtivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <!-- 提问页面 -->
        <activity android:name=".ui.activity.question.AskQuestionActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <!-- 编辑标签 -->
        <activity android:name=".ui.activity.EditTabActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <!-- 编辑标签 -->
        <activity android:name=".ui.activity.photo.UploadPhotoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
    </application>
</manifest>
